:root[data-theme="deuteranomaly"] img,
:root[data-theme="deuteranomaly"] video {
  filter: url(#deuteranomaly);
}

:root[data-theme="protanomaly"] img,
:root[data-theme="protanomaly"] video {
  filter: url(#protanomaly);
}

:root[data-theme="deuteranopia"] img,
:root[data-theme="deuteranopia"] video {
  filter: url(#deuteranopia);
}

:root[data-theme="protanopia"] img,
:root[data-theme="protanopia"] video {
  filter: url(#protanopia);
}

:root[data-theme="tritanopia"] img,
:root[data-theme="tritanopia"] video {
  filter: url(#tritanopia);
}

:root[data-theme="tritanomaly"] img,
:root[data-theme="tritanomaly"] video {
  filter: url(#tritanomaly);
}

:root[data-theme="achromatopsia"] img,
:root[data-theme="achromatopsia"] video {
  filter: url(#achromatopsia);
}

@media (max-width: 768px) {
  img {
    width: 100%;
  }
}
